body {
    font-family: "Lato", sans-serif;
    background-color: #7887ab;
}

.text-title {
    font-size: 50px;
}

.text-heading {
    font-size: 35px;
}

.text-thin {
    font-weight: 100;
}

.text-muted {
    color: darkgrey;
}

.text-link {
    color: #061539;
}
